/* @tailwind base;
@tailwind components; */
/* @tailwind utilities; */

.flex-center {
    @apply flex justify-center items-center
}
.flex-col-center {
    @apply flex flex-col justify-center items-center
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.200');
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: theme('colors.gray.50');
  border-radius: 3px;
}

.scroll-gutter {
  scrollbar-gutter: stable both-edges;
}